@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;

}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
    
}

h1, p {
    text-align: center;

}




input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

fieldset{
    border-radius: 0 3% 5%;
    padding:1%;
    border-color: rgba(0, 0, 0, 0.349) ;
    border-style: solid;
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
}

.BtnEnviar {
    margin-top: 2%;
    align-self: center;
    
}