body {
    margin: 0;
    padding: 0;
    outline: 0;
}

.Main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex: 0 0 50px;
    background-color: #282c34;
}

main {
    flex: 1;
    display: flex;
    background-color: rgba(105, 158, 189, 0.473);
}

.left, .right {
    flex: 0 2 150px;
    background-color: #282c34c7;
}

.body {
    flex: 1 1 300px;
}